<article class="trail">
<header id="grizzlyHeader">
  <h1 class="title">GRIZZLY LAKE</h1>
</header>
  <section class="text">
  <article class="main">
    <h4>Main</h4>
      <p> Grizzly lake is a tough hike, very tough in the first two miles. You climb up up up, to a burn scar.
Then head down through an overgrown trail...
      </p>
  </article>
  <article class="fishing">
    <h4>Fishing</h4>
      Some hikers will tell stories of "back in the day" catching 20+ fish in a morning. Times have changed; most lakes in the Trinity Alps were last stocked in the mid 2000s, and record breaking warmth most summers in the last 10 years has challenged fish population. The skilled angler should be able to catch a few little brook trouts, but it would be wise to bring some supplemental meals 
  </article>
  </section>
  <section class="gpx">
    Gpx link will live here
  </section>
</article>
    
<script>
  console.log("Hello michelle");
</script>
