<section id="slideSection">
  <img id="theSlide">
</section>

<script>

var myImgs = ["images/boulderCreekLakeSlide.jpg","images/canyonCreekSlide.jpg","images/grizzlyLakeSlide.jpg"];
var imgLinks = [ , , ];

function carousel(dest,idx){
   if (idx >= myImgs.length)
    idx=0;
  dest.src = myImgs[idx];
  idx +=1;
  setTimeout(function(){carousel(dest,idx)},4000);
}

function createCarousel(){
  var theSlide = document.getElementById('theSlide');
  carousel(theSlide,0);
}

createCarousel();
</script>


